  <div id="maandag">
    {{#dagen}}
    <ul>
      <li><h1 class="dag2">Maandag</h1></li>
      <li><h2>20/01/2020</h2></li>
      <li><p>Taak: Engels</p></li>
      <li><p>Herrinering: "/Herinneringen/{{herineringname}}"</p></li>
      <li><p>Evenement: "/Evenementen/{{evenementID}}"</p></li>
      <li><p>Afspraak: "/Afspraken/{{afspraakID}}"</p></li>
      <li><a href="" class="link">+ maken</a></li>
    </ul>
    {{/dagen}}
  </div>
