  <div id="maandag">
    <ul>
      <li><h1 class="dag2">Maandag</h1></li>
      <li><h2>20/01/2020</h2></li>
      <li><p>Taak: Engels</p></li>
      <li><p>Herrinering: Verjaardag Sam</p></li>
      <li><p>Evenement: Teambuilding</p></li>
      <li><p>Afspraak: Tandarts</p></li>
      <li><a href="" class="link">+ maken</a></li>
    </ul>
  </div>
