div#mainLayoutGrid>#head{
  grid-area: head;
  
  display: grid;
  grid-template-columns: 1p;
  grid-template-rows: auto;

  grid-template-areas: "home";
  grid-gap: 20px;
  border-color: 1px solid black;
}
div#mainLayoutGrid>#head>#home{
  grid-area: home;
}
