*{
  font-family: "Lato", sans-serif;
}
div#mainLayoutGrid {
  display: grid;

  grid-template-columns: auto;
  grid-template-rows: 30px auto auto auto;

  grid-template-areas:  "head"
                        "titel"
                        "kalender"
                        "volgende";
}


div#mainLayoutGrid>#titel{
  grid-area: titel;
  
  padding-top: 16px;
  text-align: center;
  box-sizing: inherit;
  display: block;
  font-size: 24px;
}

div#mainLayoutGrid>#kalender{
  grid-area: kalender;
  
  display: grid;
  grid-template-columns: 1p 1p 1p 1p 1p;
  grid-template-rows: auto auto auto;

  grid-template-areas: ". maandag dinsdag woensdag ."
                       ". donderdag vrijdag zaterdag ."
                       ". zondag . . .";
}

div#mainLayoutGrid>#kalender>#maandag{
  grid-area: maandag;
}
div#mainLayoutGrid>#kalender>#dinsdag{
  grid-area: dinsdag;
}
div#mainLayoutGrid>#kalender>#woensdag{
  grid-area: woensdag;
}
div#mainLayoutGrid>#kalender>#donderdag{
  grid-area: donderdag;
}
div#mainLayoutGrid>#kalender>#vrijdag{
  grid-area: vrijdag;
}
div#mainLayoutGrid>#kalender>#zaterdag{
  grid-area: zaterdag;
}
div#mainLayoutGrid>#kalender>#zondag{
  grid-area: zondag;
}

h1{
  color: #fff;
  text-decoration: underline solid #808080;
  
  padding-top: 32px;
  padding-bottom: 32px;
  
  font-size: 24px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}

.dag2{
  background-color: #616161;
}

.dag1{
  background-color: #000;
}

ul{
  list-style-type: none;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

li{
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  border: 1px solid #ddd;
  border-top: none;
}

.link{
  background-color: #4CAF50;
  color: #FFF;
  text-decoration: none;
  padding: 15px;
}



div#mainLayoutGrid>#volgende{
  grid-area: volgende;
  
  text-align: right;
  margin-bottom: 50px;
}

div#mainLayoutGrid>#volgende>a{
  background-color: #f1f1f1;
  padding: 15px;
}



@media (max-width: 600px) {
 div#mainLayoutGrid>#kalender{
  grid-area: kalender;
  
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto;

  grid-template-areas: "maandag"
                       "dinsdag"
                       "woensdag"
                       "donderdag"
                       "vrijdag"
                       "zaterdag"
                       "zondag";
  }
}

